<!DOCTYPE html>
<html lang="RU">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mark_SW">
    <meta name="description" content="Здесь находится подробная информация о конкретном никнейме.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Информация о никнейме</title>
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>
    <h1>Информация о никнейме</h1>
    <p>Сейчас ты получишь инфу</p>
    <p>
        id: <%= nick.id %><br />
        nickname: <%= nick.nickname %>,<br />
        password: <%= nick.password %>,<br />
        eMail: <%= nick.email %>,<br />
        reg: <%= nick.reg %>
    </p>
    
    <script src="scripts/entry.js"></script>
</body>
    
</html>